__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

venv/
.venv/
ENV/
env/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


*.o
*.elf
*.bin
*.hex
*.out
.pio/
.platformio/
cmake-build-*/


/src/models/
*.tar.gz
*.zip

tests/output/
*.wav.tmp

docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.synctex.gz
docs/*.fdb_latexmk
docs/*.fls